python/pysftp/test.txt
python/pysftp/test2.txt
python/pysftp/pysftp_test.pem

python/tkinter/data/*
python/tkinter/exe/*

python/unittest/__pycache__/*

python/venv/env/*

python/django/env/*
python/django/src/pages/__pycache__/*
python/django/src/mysite/__pycache__/*